@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 356 90% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 356 90% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 356 90% 3.9%;

    --primary: 356 84% 45%;
    --primary-foreground: 0 0% 98%;

    --secondary: 356 84% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 356 30% 90%;
    --muted-foreground: 356 84% 35%;

    --accent: 356 84% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 356 30% 85%;
    --input: 356 30% 85%;
    --ring: 356 84% 45%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 356 84% 8%;
    --foreground: 0 0% 98%;

    --card: 356 84% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 356 84% 8%;
    --popover-foreground: 0 0% 98%;

    --primary: 356 84% 55%;
    --primary-foreground: 356 84% 8%;

    --secondary: 356 84% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 356 84% 15%;
    --muted-foreground: 356 30% 70%;

    --accent: 356 84% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 356 84% 20%;
    --input: 356 84% 20%;
    --ring: 356 84% 55%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}